
#aboutSection {
  justify-content: center;
  background-color:var(--secondary-white);
}

  article {
    margin:0 auto;
    background-color:var(--secondary-grey);
    margin-top: 50px;
    border-radius: 5px;
    max-width: 885px;
    display: flex; 
    margin-bottom: 50px;
    height: fit-content;
    padding-bottom: 10px;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 50px;
    color:var(--primary-darkBlue);
    font-size: xx-large;
    text-align: center;
  }

  .bio {
    max-width: 885px;
    border-radius: 35%;
  }
  #name {
    color:var(--primary-darkBlue);
    text-decoration: underline;
    font-size: x-large;
    background-color: none;
  }

  h3:not(footer h3) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:var(--primary-darkBlue);
    text-decoration: underline;
    font-size: x-large;
    /* background-color: #014F86; */
    max-width: fit-content;
    margin-left: 25px;
    margin-top: 35px;
  }

  p:not(footer p){
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 10px;
    max-width: 450px;
    color:var(--primary-darkBlue);
  }

  #headshot{
    float: left;
    width: 195px;
    height: 195px;
    stroke: var(--primary-lightBlue);
    margin: 5px;
    border-radius: 2px;
    padding:22px;
  }

  #github {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* background-color: #014F86; */
    color:var(--primary-darkBlue);
    margin-left: 25px;
    font-size: large;
    text-decoration: none;
  }