body *{
  border: 1px solid red;
}

#grid-wrapper{
  display: grid;
  grid-template-columns: 1fr,1fr,1fr,1fr;
  grid-auto-rows: minmax(100px,auto);

}

nav{
  display:inline-block;
  position: fixed;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
  font-size: xx-large;
}

/* Main content */

article{
  width: 900px;
  color: black;
}