main{
  margin-bottom: 50px;
}

#dq-section{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 16em;
  width:100%;
  background-color: var(--secondary-grey);
  background-size: auto;
  background-position: 50% 65%;
  background-repeat: no-repeat; 
}

#daily-quote{
  width:70%;
  color: var(--secondary-green);
  font-size: x-large;
  font-weight: 800;
  text-shadow: rgb(3, 23, 77) 1px 0 10px;
  text-align: center;
}

fieldset{
  margin:75px 0px 25px 45px;
  display: flex;
}

legend{
  font-size: xx-large;
  font-weight: 800;
  color:var(--primary-darkBlue);
  margin: 0px 0px 60px 66px;
}

/* +++++++++++ Start of Custom Radio Buttons +++++++++++++*/
.button {
  display: inline;
  position: relative;
  height:35px;
  margin-left: 150px;
  padding-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.selector {
  position: absolute;
  top:0px;
  left: -75px;
  height: 50px;
  width: 65px;
  border: 2px solid var(--primary-blue);
  border-radius: 5%;  
}

#stretchicon{
  content: url(../img/stretchingicon.png);
}
#strengthicon {
  content: url(../img/strengthicon.png);
}
#enduranceicon{
  content: url(../img/enduranceicon.png);
}
#abicon{
  content: url(../img/abicon.png);
}

.button:hover input ~ .selector {
  background-color:var(--primary-lightBlue);
}

.button input:checked ~ .selector {
  background-color: var(--primary-blue);
}

.selector:after {
  position: absolute;
  display: none;
}

.button input:checked ~ .selector:after {
  display: block;
}

.button .selector:after {
 	top: 6px;
	left: 22px;
	width: 18px;
	height: 18px;
  color: var(--secondary-white)
}

input{
	margin-left:40px;
  padding-left:40px;	
}
/* +++++++++++ End of Custom Radio Buttons +++++++++++++*/

#next-btn{
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 110px;
  height: 55px;
  width: 225px;
  font-size: 16px;
  font-weight: 600;
  color: #06D6A0;
  border-radius: 30px;
  border-color: #06D6A0;
  background-color: #C1F5E7;
}

#next-btn:hover{
  background-color: rgba(var(--secondary-green-rgb), 1.0);
  color: var(--secondary-white);
  text-decoration: solid var(--secondary-white);
  cursor: pointer;
}



