main{
  margin-bottom: 50px;
}

/* #grid-wrapper{
  display: grid;
  grid-template-columns: 1fr,1fr,1fr,1fr;
  grid-auto-rows: minmax(100px,auto);

} */

#dq-section{
  display:flex;
  justify-content: center;
  align-items: center;
  height:10em;
  width:100%;
  background-color: var(--secondary-grey);
  background-size: auto;
  background-position: 25% 75%;
  background-repeat: no-repeat; 
}

#daily-quote{
  width:70%;
  color: var(--secondary-green);
  font-size: x-large;
  font-weight: 800;
  text-shadow: rgb(3, 23, 77) 1px 0 10px;
}

fieldset{
  margin:75px 0px 25px 45px;
  display: flex;
}

legend{
  font-size: xx-large;
  font-weight: 800;
  margin: 0px 0px 60px 66px;
}

/* +++++++++++ Start of Custom Radio Buttons +++++++++++++*/

/* The container */
.button {
  display: inline;
  position: relative;
  height:35px;
  margin-left: 150px;
  padding-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  background-color: var(--secondary-grey);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.selector {
  position: absolute;
  top:0px;
  left: -75px;
  height: 50px;
  width: 65px;
  border-radius: 5%;
}
#stretchicon{
  content: url(../img/stretchingicon.png);
}
#strengthicon {
  content: url(../img/strengthicon.png);
}
#enduranceicon{
  content: url(../img/enduranceicon.png);
}
#abicon{
  content: url(../img/abicon.png);
}
/* On mouse-over, add a grey background color */
.button:hover input ~ .selector {
  background-color:var(--primary-lightBlue);
}
/* When the radio button is checked, add a blue background */
.button input:checked ~ .selector {
  background-color: var(--primary-blue);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.selector:after {
  /* content: url(img/stretchingicon.png); */
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.button input:checked ~ .selector:after {
  display: block;
}

/* Style the indicator ( big X) */
.button .selector:after {
 	top: 6px;
	left: 22px;
	width: 18px;
	height: 18px;
  color: var(--secondary-white)

}
input{
	margin-left:40px;
  padding-left:40px;
	
}
/* +++++++++++ End of Custom Radio Buttons +++++++++++++*/

#next-btn{
  display: block;
  margin-top: 40px;
  margin-left: 110px;
  height:25px;
  width:140px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 23px;
  border:none;
  color:var(--primary-darkBlue);
  background-color:  rgba(var(--secondary-green-rgb),0.45);
}

#next-btn:hover{
  background-color:rgba(var(--secondary-green-rgb),1.0); 
  color: var(--secondary-white);
  text-decoration:  underline 3px solid var(--secondary-white);

}
#next-btn a:visited{
  color: var(--primary-darkBlue);
}


