body *{
  border: 1px solid red;
}

#grid-wrapper{
  display: grid;
  grid-template-columns: 1fr,1fr,1fr,1fr;
  grid-auto-rows: minmax(100px,auto);

}





















/* +++++++++++ Start of Custom Radio Buttons +++++++++++++*/
/* The container */
.button {
  display: inline;
  position: relative;
  padding-left: 75px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.selector {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 65px;
  background-color: #eee;
  border-radius: 5%;
}
/* On mouse-over, add a grey background color */
.button:hover input ~ .selector {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.button input:checked ~ .selector {
  background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.selector:after {
  content: "X";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.button input:checked ~ .selector:after {
  display: block;
}

/* Style the indicator ( big X) */
.button .selector:after {
 	top: 6px;
	left: 22px;
	width: 18px;
	height: 18px;
  color: white;

}
input{
	margin-left:40px;
  padding-left:40px;
	
}
/* +++++++++++ End of Custom Radio Buttons +++++++++++++*/