
#main-content{
  margin: 50px;
}
fieldset{
  margin:75px 0px 25px 45px;
  display: flex;
}

legend{
  font-size: xx-large;
  font-weight: 800;
  margin: 0px 0px 60px 66px;
}


/* +++++++++++ Start of Custom Radio Buttons +++++++++++++*/

/* The container */
.button {
  display: inline;
  position: relative;
  height:35px;
  margin-left: 150px;
  padding-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.selector {
  position: absolute;
  top:0px;
  left: -75px;
  height: 50px;
  width: 65px;
  border: 2px solid var(--primary-blue);
  border-radius: 5%;
  content: url(../img/timeicon.png);
}
/* On mouse-over, add a grey background color */
.button:hover input ~ .selector {
  background-color:var(--primary-lightBlue);
}
/* When the radio button is checked, add a blue background */
.button input:checked ~ .selector {
  background-color: var(--primary-blue);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.selector:after {
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.button input:checked ~ .selector:after {
  display: block;
}
/* Style the indicator ( big X) */
.button .selector:after {
 	top: 6px;
	left: 22px;
	width: 18px;
	height: 18px;
  color: var(--secondary-white)
}
input{
	margin-left:40px;
  padding-left:40px;
	
}
/* +++++++++++ End of Custom Radio Buttons +++++++++++++*/

#gen-btn{
  display: block;
  margin-top: 40px;
  margin-left: 110px;
  min-height:25px;
  height:auto;
  width:140px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 23px;
  border:none;
  color:var(--primary-darkBlue);
  background-color:  rgba(var(--secondary-green-rgb),0.45);
}

#gen-btn:hover{
  background-color:rgba(var(--secondary-green-rgb),1.0); 
  color: var(--secondary-white);
  text-decoration:  underline 3px solid var(--secondary-white);

}
#gen-btn a:visited{
  color: var(--primary-darkBlue);
}