article {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-grey);
  margin-top: 35px;
  border-radius: 5px;
  width: 600px;
  height: fit-content;
  padding-bottom: 60px;
  display: flex;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 50px;
  color: var(--primary-darkBlue);
  font-size: 36px;
  text-align: center;
  line-height: 120%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  margin-top: 50px;
  color: var(--primary-darkBlue);
  font-size: 18;
  text-align: left;
  padding-left: 25px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 450px;
  color: var(--primary-darkBlue);
  text-align: left;
  line-height: 150%;
  padding-left: 35px;
}

ul {
  margin-left: 25px;
}

#refresh:hover {
  background-color: rgba(var(--secondary-green-rgb), 1.0);
  color: var(--secondary-white);
  text-decoration: solid var(--secondary-white);
}

#refresh {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  height: 55px;
  width: 225px;
  font-size: 16px;
  font-weight: 600;
  color: #06D6A0;
  border-radius: 30px;
  border-color: #06D6A0;
  background-color: #C1F5E7;
}